.page {
  background: #2a2c2f;

  font-family: 'Inter', Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  text-rendering: optimizeLegibility;

}

.header {
  margin: 0 auto;
  max-width:1184px;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
  }
}


.header__logo {
  width: 176px;
  height: 52px;
  margin-left: 48px;
  margin-top: 28px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 142px;
    height: 42px;
    margin-left: 16px;
    margin-top: 16px;
  }
}

.header__links {
  margin-top: 46px;
  margin-right: 48px;
}

@media screen and (max-width: 768px) {
  .header__links {
    margin-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header__links {
    margin-top: 30px;
    margin-right: 16px;
  }
}

.header__lang-link {
  margin-right: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  /* identical to box height, or 117% */
  text-decoration: none;
  color: white;
}

.header__lang-link:last-child {
  margin-right: 0;
}

.content {
}

.lead {
  margin: 56px auto 0;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
}

@media screen and (max-width: 1024px) {
  .lead {
    margin: 48px auto 0;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
  }
}

.lead__title {
  max-width: 720px;
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 6.25rem;
  /* or 104% */
  text-align: center;
  color: white;
  margin: 0 auto;
  border: 1px solid red;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: calc((100vw - 320px) / (768 - 320) * (96 - 40) + 40px);
    line-height: calc((100vw - 320px) / (768 - 320) * (100 - 44) + 44px);
  }
}



.lead__subtitle {
  margin: 32px auto 64px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size:: 30px;
  line-height: 36px;
  /* or 120% */
  text-align: center;
  color: white;
  border: 1px solid red;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin: 32px auto 56px;
    font-size: calc((100vw - 320px) / (1024 - 320) * (30 - 16) + 16px);
    line-height: calc((100vw - 320px) / (1024 - 320) * (36 - 28) + 28px);
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    margin: 16px auto 40px;
  }
}

.lead__image-wrapper {
  margin: 0 auto;
}

.lead__image {
  max-width: 984px;
  width: 100%;
  max-height: 615px;
  object-fit: cover;
  border: 1px solid red;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
    max-height: 580px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 768px;
    max-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    max-width: 320px;
    max-height: 290px;
  }
}

.lead__caption {
  margin: 8px 0 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height:  0.875rem;
  /* identical to box height, or 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: white;
  border: 1px solid red;
}

.intro {
  max-width: 984px;
  margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
   width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
  }
}


.intro__title {
  margin: 0 0 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 3.625rem;
  /* identical to box height, or 107% */
  color: white;
  border: 1px solid red;
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
}

.intro__wrapper {
  max-width: 690px;
}

.intro__text {
  display: flex;
  margin: 0;
  max-width: 690px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  /* or 26px */
  color: white;
  border: 1px solid red;
}

.into__list {
  margin: 33px 0 0;
  padding: 0;
  list-style: none;
  color: white;
  border: 1px solid red;
}

.into__list-text {
  display: flex;
  flex-direction: row;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.125rem;
  /* or 150% */
}

.intro__number {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.photo-grid {
  margin: 92px auto;
  max-width: 1184px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  border: 1px solid red;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    max-width: 288px;
    gap: 12px;
  }
}

.photo-grid__item{
  max-width: 284px;
  width: 100%;
  object-fit: cover;
  border: 1px solid blue;
}

@media screen and (max-width: 1024px) {
.photo-grid__item{
  max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
.photo-grid__item{
  max-width: 352px;
  }
}

@media screen and (max-width: 320px) {
.photo-grid__item{
  max-width: 288px;
  }
}

.places {
  margin: 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
  }
}




.place__wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
}

.places__place {
  max-width: 984px;
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
  gap: 48px 40px;
  margin: 0 0 80px;
  border: 1px solid red;
}

.places__place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .places__place {
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__place {
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
    gap: 48px 28px;
    margin: 0 0 73px;
  }
}

@media screen and (max-width: 540px) {
  .places__place {
    grid-template-columns: 1fr;
    gap: 32px 0;
    margin: 0 0 50px;
  }
}

.place__title {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.75rem;
  /* or 106% */
  color: white;
}

@media screen and (max-width: 768px) {
  .place__title {
  font-size: 2.625rem;
  line-height: 2.875rem;
  }
}

@media screen and (max-width: 540px) {
  .place__title {
    justify-self: center;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 2rem;
    line-height: 2.1875rem;
  }
}

.place__website {
  align-self: end;
}


.place__url-heading {
  margin: 0 0 12px;
  color: white;
}

.place__link {
  color: white;
}

.place__image {
  max-width: 100%;
  object-fit: cover;
  border: 1px solid red;
}

.place__paragraphs {}

.place__paragraph {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1,125rem;
  line-height: 1,8125rem;
  /* or 29px */
  color: white;
  border: 1px solid red;
  margin-bottom: 26px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 1rem;
    line-height: 1.625rem;
    margin-bottom: 25px;
  }
}

.cover {
  max-width: 1184px;
  margin: 92px auto;
}

@media screen and (max-width: 1024px) {
  .cover {
    max-width: 1184px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    max-width: 768px;
    margin: 90px auto 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    max-width: 320px;
    margin: 66px auto 64px;
  }
}

.cover__item {
  max-width: 1184px;
  margin: 0 auto;
  position: relative;
  background-image: url("../images/cover__images/cover__image.png");
  object-fit: cover;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-size: cover;
  z-index: 1;
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .cover__item {
    min-height: 740px;
  }
}

@media screen and (max-width: 1280px) {
  .cover__item {
    min-height: calc(100vw * 740 / 1280);
  }
}

@media screen and (max-width: 1024px) {
  .cover__item {
    min-height: calc(100vw * 640 / 1024);
  }
}

@media screen and (max-width: 768px) {
  .cover__item {
    min-height: calc(100vw * 480 / 768);
  }
}

@media screen and (max-width: 320px) {
  .cover__item {
    background-size: cover;
  }
}

.cover__item::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: black;
  opacity: 0.3;
  transition: 0.2s;
  z-index: -1;
}

.cover__item:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024) {

}

.cover__title {
  margin: 0 auto;
  max-width: 560px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.75rem;
  /* or 106% */
  text-align: center;
  color: white;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: calc((100vw - 320px) / (768 - 320) * (72 - 32) + 32px);
    line-height: calc((100vw - 320px) / (768 - 320) * (76 - 35) + 35px);
  }
}

.cover__subtitle {
  margin: 0 auto;
  max-width: 360px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  /* or 122% */
  text-align: center;
  color: white;
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    font-size: calc((100vw - 320px) / (768 - 320) * (18 - 14) + 14px);
    line-height: calc((100vw - 320px) / (768 - 320) * (22 - 16) + 16px);
  }
}


.footer {
  margin: 0 auto 24px;
  max-width: 1184px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid red;
}

.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 24px;
  list-style-type: none;
  border: 1px solid blue;
}

@media screen and (max-width: 320px) {
  .footer__links {
    margin-left: 16px;
    flex-direction: column;
    grid-gap: 32px;
  }
}

.footer__item {}

.footer__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1,125rem;
  /* identical to box height, or 112% */
  color: white;
  border: 1px solid green;
}
.footer__copyright {
  margin: 0 48px 0 0;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 0,875rem;
  line-height: 1rem;
  /* identical to box height, or 114% */
  text-align: right;
  color: white;
  border: 1px solid orange;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    margin: 48px 118px 0 16px;
  }
}

.hover:hover {
  opacity: 0.8;
}


.header__lang-link_active {
  text-decoration: underline;
}
