.lead__title {
  max-width: 720px;
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 6.25rem;
  /* or 104% */
  text-align: center;
  color: white;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: calc((100vw - 320px) / (768 - 320) * (96 - 40) + 40px);
    line-height: calc((100vw - 320px) / (768 - 320) * (100 - 44) + 44px);
  }
}
