.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  grid-gap: 24px;
  list-style-type: none;
}

@media screen and (max-width: 320px) {
  .footer__links {
    margin-left: 16px;
    flex-direction: column;
    grid-gap: 32px;
  }
}
