.footer__copyright {
  margin: 0 48px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 0,875rem;
  line-height: 1rem;
  /* identical to box height, or 114% */
  text-align: right;
  color: white;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    margin: 48px 0 0 16px;
    line-height: 0.875rem;
    text-align: left;
  }
}
