.places__place {
  max-width: 984px;
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
  gap: 48px 40px;
  margin: 0 0 80px;
}

.places__place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .places__place {
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__place {
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
    gap: 48px 28px;
    margin: 0 0 73px;
  }
}

@media screen and (max-width: 540px) {
  .places__place {
    grid-template-columns: 1fr;
    gap: 32px 0;
    margin: 0 0 50px;
  }
}
